/* =======COMMON STAYLES========= */
button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 768px) {
    .container{
    max-width: 766px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

.section {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 1158px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.section-name {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

/* =======/COMMON STAYLES========= */

/* =======HEADER STAYLES========= */
/* =======HEADER PHONE========= */
.top-page{
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    box-shadow: 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-web {
    color: #2e2f42;
}
.menu{
    display: none;
}
.contacts{
    display: none; 
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}
@media screen and (max-width: 767px) {
    
.mobile-menu-open-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #000;
    line-height: 0;
    
}

.mobile-menu-wraper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #ffffff;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wraper.is-open{
    transform: translateX(0%);
}
.mobile-menu-close-btn{
    position: absolute;
    top: 24px;
    right: 15px;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color:  transparent;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    fill: #2E2F42;
}
.mobile-menu-navigation{
    margin-top: 72px;
    margin-bottom: 168px;
}
.mobile-menu{
    display: flex;
    flex-direction: column;
    gap:40px;

}
.mobile-menu-link{
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.active-page {
    color: #404bbf;
}
.mobile-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.mobile-contact-link{
    display: block;
    color:#434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
}
.phone-color{
    color:#4D5AE5;
}
.mobile-contacts{
    margin-bottom: 48px;
}
.menu-social-wraper{
    margin-bottom: 40px;
}
.mobile-menu-social-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.mobile-menu-social-list-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #F4F4FD;
}
}
/* =======/HEADER PHONE========= */
/* =======HEADER TABLET========= */
@media screen and (min-width: 768px) {
    .mobile-menu-wraper{
        display: none;
    }
    .mobile-menu-open-btn{
        display: none;
    }
    .header-container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-nawigation{
        display: flex;
        align-items: center;
    }
    .logo{
        margin-right: 120px;
    }
    .menu{
        display: flex;
        gap: 40px;
    }
    .contacts{
        display: flex;
    }
    .menu-link{
        display: block;
        color:#2E2F42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5px;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .active-page {
        position: relative;
        color: #404bbf;
        }
    
    .active-page::after {
        display: block;
        content: "";
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background: #404BBF;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
    .contacts-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contact-link{
        color:#434455;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}
/* =======/HEADER TABLET========= */
/* =======HEADER DESKTOP========= */


@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
        }
    .contacts-list {
        flex-direction: row;
        gap: 40px;
        }
    .menu-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .menu-link:hover,
    .menu-link:focus {
        color: #404BBF;
        }
    .contact-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .contact-link:hover,
    .contact-link:focus {
        color: #404BBF;
}
}
/* =======/HEADER DESKTOP========= */
/* =======/HEADER STAYLES========= */

/* =======Effective Solutions========= */
/* =======Phone========= */
.top-section {
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-bottom: 48px;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/office-phone.jpg);
    background-size: cover;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-resolution: 192dpi), 
screen and (min-resolution: 2dppx), 
screen and (min-device-pixel-ratio: 2) {
    .top-section{
    background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/office-phone@2x.jpg);
    }
}
.main-titel {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.order-bt {
    display: block;
    font-family: inherit;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    height: 56px;
    border: none;
    min-width: 169px;
}
/* =======/Phone========= */
/* =======Tablet========= */
@media screen and (min-width: 768px) {
.top-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/office-tablet.jpg);
    background-size: cover;
    max-width: 768px;
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
.top-section {
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/office-tablet@2x.jpg);
}
}
.main-titel {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
}
}
/* =======/Tablet========= */
/* =======Desktop========= */
@media screen and (min-width: 1158px) {
    .top-section {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/office-desktop.jpg);
        background-size: cover;
        max-width: 1440px;
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .top-section {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/office-desktop@2x.jpg);
    }
}
 .main-titel {
     margin-bottom: 48px;
 }
 .order-bt:hover,
 .order-bt:focus {
     background-color: #404BBF;
 }
}
/* =======/Desktop========= */
/* =======/Effective Solutions========= */

/* =======Strengths========= */
.icon-box{
    display: none;
}
.section-strengths {
    padding: 96px 0;
}

.strenghts-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}


.strengths-name {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

/* =======Strengths-Tablet========= */
@media screen and (min-width: 768px) {
.strengths-name{
    text-align: left;
}
.strenghts-list{
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}
.strenghts-list-item{
    width: calc((100% - 24px) / 2);
}
}
/* =======/Strengths-Tablet========= */
/* =======Strengths-Desktop========= */
@media screen and (min-width: 1158px) {
    .icon-box{
        display: flex;
    }
    .section-strengths {
        padding: 120px 0
        }
    
    .strenghts-list {
        display: flex;
        gap: 24px;
        }
    
    .strenghts-list-item {
        width: calc((100% - 72px) / 4);
        }
    .icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background:#F4F4FD;
    margin-bottom: 8px;
}
.strenghts-list-icon{
    margin: 24px 100px;
}
.strengths-name{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
}
.text{
    font-weight: 400;
}
}

/* =======/Strengths-Desktop========= */
/* =======/Strengths========= */

/* =======Team========= */
.team {
    background-color: #F4F4FD;
    padding-bottom: 96px;
    padding-top: 96px;
}
.team-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.name-position {
    padding: 32px 0 32px;
    margin-left: auto;
    margin-right: auto;
}
.team-list-item {
    width: 264px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}
.name {
    margin-bottom: 8px;
}
.employee-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.employee-social-list-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #F4F4FD;
}
/* =======Team-tablet========= */
@media screen and (min-width: 768px) {
.team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
}
.team-list-item {
    width: (calc(100% - 24px) / 2);
}
}
/* =======/Team-tablet========= */
/* =======Team-desktop========= */
@media screen and (min-width: 1158px) {
    .team-list-item {
        width: (calc(100% - 72px) / 4);
}
.employee-social-list-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.employee-social-list-link:hover,
.employee-social-list-link:focus {
    background-color: #404BBF;
}
/* =======/Team-desktop========= */
/* =======/Team========= */